<!DOCTYPE html>

<head>
   <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
   </style>
</head>
<body>
    <div>
        <img
                                src="https://caas.meeraq.com/static/media/meeraq_logo_color.e1c1aa37665449a47653.png"
                                style="width: 150px"
                                alt="Meeraq Logo"
                                class="fr-fic fr-dii"
                                width="187"
                                height="34"
                            />
    </div>
    
    <p>
        Dear Rajesth,
        <br>
        Thank you for taking the influencing without authority - Post assessment. Your scores, out of 20 in each category, are as follows:

    </p>
    <p>
        Here is What these parameters mean:
    </p>
    <ul>
        <li>
            Control: To what extend do you control or use force when you want to influence some one? The lower score here would mean that you use high force.
        </li>
        <li>
            Push and Pull: Which style of influencing you use predominatly? Push or Pull? Higher score in this category would mean that you use Pull style.
        </li>
        <li>
            Power: How much of Positional power do you use during influencing? The lower score here means that you use positional power a lot.
        </li>
        <li>
            Influencing - additional bits: To What extent do you use 'other factors' to influence other? Higher score means you are doing well!
        </li>
    </ul>
    <p>
        The course was designed to help you move in a positive direction. We hope that the course was useful to you! Happy learning!
    </p>
    <p>
        Regards,
        <br>
        Team Meeraq
    </p>
</body>
</html>