{% extends "parent_template.html" %} 
{% block title %}Meeraq Platform | Password Reset{% endblock %} {% block heading %}

<!DOCTYPE html>
<html>

<head>
    <title>Coaching Session Booking</title>
</head>

<body>
    <p>Hello {{ participant_name }},</p>

    <p>Your coaching session has been successfully booked for the following details:</p>

    <p>
        <strong>Session Date:</strong> {{ coaching_session_date }}<br>
        <strong>Time Slot:</strong> {{ coaching_session_time_slot }}
    </p>

    <p>Thank you for using our service.</p>

    <p>Best regards,<br>Your Coaching Service Team</p>
</body>

</html>