{% extends "parent_template.html" %} {% block title %}Meeraq Coaching | New Beginning ! {% endblock %} {% block heading %}

<div>
  <b>
    <span class="heading-container">
      Dear <span class="heading-container-span">{{name}}</span>,
    </span>
  </b>
</div>
  {% endblock %} {% block content %}

  
  <h3>We are thrilled to welcome you to the Meeraq platform; your One Stop Shop for all your Coaching at Meeraq.</h3>
  <p class="child-para">On this Platform you can:</p>
  <ol>
      <li class="child-para">Edit your Coach Profile</li>
      <li class="child-para">Get empanelled into Meeraq Coaching Projects</li>
      <li class="child-para">Book sessions for your Projects</li>
      <li class="child-para">Join your Coaching Sessions directly on the Meeraq platform</li>
      <li class="child-para">Track your Coachee’s Progress</li>
  </ol>
  {% if email %}
  {% comment %} <p class="child-para"><a href="http://127.0.0.1:8000/api/google/oauth/{{email}}/" style="text-decoration: underline;">Add to Google Calendar</a></p> {% endcomment %}
  <p class="child-para"><a href="http://127.0.0.1:8000/api/microsoft/oauth/{{email}}/" style="text-decoration: underline;">Add to Outlook Calendar</a></p>
{% endif %}
  <p class="child-para" >Click <a href="https://caas.meeraq.com/">here</a> to login and get started!</p>


{% endblock %}
