{% extends "parent_template1.html" %} {% block title %}Meeraq Coaching | Coach
updated profile {% endblock %} {% block heading %}
<div>
  <b>
    <span class="heading-container">
      Dear <span class="heading-container-span">{{name}}</span>,
    </span>
  </b>
</div>
{% endblock %} {% block content %}


 <h2 class="approval-title">Congratulations on Your Approval!</h2>
  <p class="approval-text">
    We are thrilled to inform you that your coach registration on Meeraq has
    been approved! Congratulations, and welcome to our coaching community!
  </p>

  <p class="approval-text1">
    Your expertise and unique skills have caught the attention of our team, and
    we're confident that you will bring immense value to our platform. As an
    approved coach, you now have full access to all the benefits and
    opportunities Meeraq has to offer.

  </p>

  <p class="approval-text">
    Remember, our support team is always here to assist you with any questions
    or concerns. You can reach out to us at
    <a class="approval-link" href="mailto:pmocoaching@meeraq.com"
      >pmocoaching@meeraq.com</a
    >
    at any time.
  </p>

  <p class="approval-text">
    Thank you for choosing Meeraq as your coaching platform. We're excited to
    have you on board and look forward to seeing you thrive as a coach in our
    community.
  </p>

  <p class="approval-text">
    Once again, congratulations on your approval, and best of luck with your
    coaching journey!
  </p> 

  <p class="child-para" >Click <a href="https://caas.meeraq.com/">here</a> to login.</p>

{% endblock %}
