{% extends "parent_template.html" %} 
{% block title %}Meeraq Coaching | New Session request{% endblock %} {% block heading %}
<div>
  <b>
    <span class="heading-container">
      Dear <span class="heading-container-span">{{name}}</span>,
    </span>
  </b>
</div>
  {% endblock %} {% block content %}

  <p class="child-para"><strong>Session Name:</strong> <span id="sessionName">{{session-name}}</span></p>
    <p class="child-para"><strong>Date and Time:</strong> <span id="dateTime">{{date}} {{time}}</span></p>
    <p class="child-para"><strong>Coach Name:</strong> <span id="coachName">{{coach-name}}</span></p>
    <p class="child-para"><strong>Coachee Name:</strong> <span id="coacheeName">{{coachee-name}}</span></p>
    <p class="child-para">The session has been marked as done.</p>
    <p class="child-para">Click <a href="https://caas.meeraq.com/">here</a> to login and view the details.</p>



  {% endblock %}

