{% extends "parent_template.html" %} 
{% block title %}Meeraq Coaching | New Session request{% endblock %} {% block heading %}
<div>
  <b>
    <h2>Project: <span id="projectName">{{project-name}}</span></h2>
    <span class="heading-container">
   
      Dear <span class="heading-container-span">{{ name }}</span>,
    </span>
  </b>
</div>
  {% endblock %} {% block content %}

  <p class="child-para"><strong>Coachee Name:</strong> <span id="coacheeName">{{Coachee-name}}</span></p>
  <p class="child-para"><strong>Session Name:</strong> <span id="sessionName">{{session-name}}</span></p>
  <p class="child-para"><strong>Coach Name:</strong> <span id="coachName">{{coach-name}}</span></p>
  <p class="child-para"><strong>Requested Slots:</strong></p>
  <ul>
      <li><span id="slot1">{{Slot1}}</span></li>
    
  </ul>
  <p class="child-para">Click <a href="https://caas.meeraq.com/">here</a> to login and view the details.</p>

</td>
  {% endblock %}

