{% extends "parent_template.html" %} 
{% block title %}Meeraq Platform | OTP to login {% endblock %} {% block heading %}
<td
  valign="top"
  style="
    width: 609.75pt;
    padding: 48px 16px;
     
    margin-bottom: 20px;
  "
>
  <p
    style="
      font-size: 11pt;
      font-family: Calibri, sans-serif;
      background-color: white;
      margin: 0;
      line-height: 105%;
    "
  >
    <span>
      <b>
      
        <span style="color: #7030a0; font-size: 15pt; line-height: 105%">
          Dear {{name}},
        </span>
      </b>
    </span>
  </p>
  {% endblock %} {% block content %}

  <p>Here is your OTP to login to the Meeraq Platform:</p>
    <p><strong><span id="">{{otp}}</span></strong></p>
    <pstyle="
  
    margin-top: 20px;
    
  ">If you face any issues or have queries, please email us at <a href="mailto:pmocoaching@meeraq.com">pmocoaching@meeraq.com</a>.</p>

</td>
  {% endblock %}

