{% extends "parent_template.html" %} 
{% block title %}Meeraq Platform | OTP to login {% endblock %} {% block heading %}
<div>
  <b>
    <span class="heading-container">
      Dear <span class="heading-container-span">{{name}}</span>,
    </span>
  </b>
</div>
  {% endblock %} {% block content %}

  <p class="child-para">Here is your OTP to login to the Meeraq Platform:</p>
    <p class="child-para"><strong><span id="">{{otp}}</span></strong></p>
    <p class="child-para">If you face any issues or have queries, please email us at <a href="mailto:pmocoaching@meeraq.com">pmocoaching@meeraq.com</a>.</p>
    {% if email %}
    {% comment %} <p class="child-para"><a href="http://127.0.0.1:8000/api/google/oauth/{{email}}/" style="text-decoration: underline;">Add to Google Calendar</a></p> {% endcomment %}
    <p class="child-para"><a href="http://127.0.0.1:8000/api/microsoft/oauth/{{email}}/" style="text-decoration: underline;">Add to Outlook Calendar</a></p>
  {% endif %}

  {% endblock %}

