{% extends "../parent_template.html" %} 
{% block title %}Welcome to the Meeraq
Platform {% endblock %} {% block heading %}
<td
  valign="top"
  style="
    width: 609.75pt;
    height: 322.35pt;
    padding: 10.8pt 18pt;
     
    margin-bottom: 20px;
  "
>
  <p
    style="
      font-size: 11pt;
      font-family: Calibri, sans-serif;
      background-color: white;
      margin: 0;
      line-height: 105%;
    "
  >
    <span>
      <b>
        <span style="color: #7030a0; font-size: 15pt; line-height: 105%">
          Dear {{name}},
        </span>
      </b>
    </span>
  </p>
  {% endblock %} {% block content %}

  <p>
    We are excited to let you know that your project has been added to the
    Meeraq platform. On this platform, you can:
  </p>
  <ol>
    <li>View Coach Profiles</li>
    <li>Select the Coaches you want</li>
    <li>Add your Coachees</li>
    <li>View their Session Progress</li>
    <li>Join video call on the Meeraq platform</li>
    <li>Download Coaching Session Reports</li>
  </ol>
  <p>
    We have shortlisted a few coach profiles as per your requirements. You can
    <a href="https://meeraq-platform.com/login">click here</a> to login and view
    these profiles and select the Coaches.
  </p>
  <p>Let’s start this journey together!</p>
  <p>
    Contact us at
    <a href="mailto:pmocoaching@meeraq.com">pmocoaching@meeraq.com</a> for any
    queries.
  </p>
</td>
  {% endblock %}

