{% extends "../parent_template.html" %} 
{% block title %}Welcome to the Meeraq
Platform {% endblock %} {% block heading %}
<div>
  <b>
    <span class="heading-container">
      Dear <span class="heading-container-span">{{name}}</span>,
    </span>
  </b>
</div>
  {% endblock %} {% block content %}

  <p class="child-para">
    We are excited to let you know that your project has been added to the
    Meeraq platform. On this platform, you can:
  </p>
  <ol>
    <li>View Coach Profiles</li>
    <li>Select the Coaches you want</li>
    <li>Add your Coachees</li>
    <li>View their Session Progress</li>
    <li>Join video call on the Meeraq platform</li>
    <li>Download Coaching Session Reports</li>
  </ol>
  <p class="child-para">
    We have shortlisted a few coach profiles as per your requirements. You can
    <a href="https://caas.meeraq.com/">click here</a> to login and view
    these profiles and select the Coaches.
  </p>
  <p class="child-para">Let’s start this journey together!</p>
  <p class="child-para">
    Contact us at
    <a href="mailto:pmocoaching@meeraq.com">pmocoaching@meeraq.com</a> for any
    queries.
  </p>
  {% if email %}
  <p class="child-para"><a href="http://127.0.0.1:8000/api/google/oauth/{{email}}/" style="text-decoration: underline;">Add to Google Calendar</a></p>

{% endif %}
</td>
  {% endblock %}

