{% extends "parent_template.html" %} 
{% block title %}Meeraq Platform | Progress Data {% endblock %} {% block heading %}
<div>
  <b>
    <span class="heading-container">
      Dear <span class="heading-container-span">{{name}}</span>,
    </span>
  </b>
</div>
  {% endblock %} {% block content %}

  <p class="child-para">The Progress Data excel is attached below.</p>
    

<p class="child-para">If you face any issues or have queries, please email us at <a href="mailto:pmocoaching@meeraq.com">pmocoaching@meeraq.com</a>.</p>


  {% endblock %}

