<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>

      a {
        text-decoration: none;
        color: blue;
      }

      img {
        height: auto;
        width: 8rem;
        position: absolute;
        left: 0;
      }
    </style>
  </head>
  <body>
    <div><b>Coaches have cleared their calendar. You can now book your Meeraq Laser Coaching sessions!! </b></div>
    <br />
    <div>
      Please click on the link below to book the session.<br />

      <br />

      <a href="{{ event_link }}">{{ event_link }}</a><br />
      <br /><br />
      If clicking the link doesn't work, copy and paste the above URL in your
      browser.
      <br /><br />
      If you still face issues or have any doubts, please reach out at
      <a href="mailto:pmo@meeraq.com">pmo@meeraq.com</a>.
      <br />
      <br />
      Regards, <br />
      <p>Meeraq</p>
    </div>
  </body>
</html>
