<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <style>
      @media screen and (max-width: 480px) {
        .main-table {
          width: 300px !important;
          margin: 0 auto;
        }
      }
    </style>
  </head>

  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="
        background-color: #764b92;
        font-family: Arial, Helvetica, sans-serif;
      "
      width="100%"
    >
      <tbody>
        <tr>
          <td align="center">
            <table
              cellpadding="0"
              cellspacing="0"
              class="main-table"
              style="
                margin: 0px auto 0px calc(0%);
                background: white;
                border-radius: 3px;
                box-shadow: rgb(234, 234, 234) 0px 0px 0px;
                width: 100%;
              "
            >
              <tbody>
                <tr style="border: 0">
                  <td
                    style="
                      padding: 20px;
                      -webkit-border-top-left-radius: 3px;
                      -webkit-border-top-right-radius: 3px;
                      border-top-left-radius: 3px;
                      border-top-right-radius: 3px;
                      text-align: left;
                      border: 0;
                      background-color: white;
                    "
                  >
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                    >
                      <tbody>
                        <tr>
                          <!-- First cell for left-aligned image -->
                          <td border="0" style="text-align: left; border: 0">
                                <a
                              href="{{site_url}}"
                              style="
                                border: none;
                                text-decoration: none;
                                font-size: 22px;
                              "
                              target="_blank"
                              ><img
                                src="https://caas.meeraq.com/static/media/meeraq_logo_color.e1c1aa37665449a47653.png"
                                style="width: 187px"
                                alt="Meeraq Logo"
                                class="fr-fic fr-dii"
                                width="187"
                                height="41"
                            /></a>
                          </td>
                          <!-- Second cell for center-aligned image -->
                          <td border="0" style="text-align: center; border: 0">
                          
                          </td>
                          <!-- Third cell for right-aligned image -->
                          <td border="0" style="border: 0; text-align: right">
                        
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                {% block content %}{% endblock %}
            
                <tr style="border: 0">
                  <td
                    style="
                      padding: 20px 40px 20px;
                      text-align: center;
                      border: 0;
                      background-color: #2d3044;
                    "
                  ><p><span style="font-family: Tahoma, Geneva, sans-serif; font-size: 14px;"><a href="https://meeraq.com/" style="color:#f5f5f5;" target="_blank">www.meeraq.com</a></p>
                    <span
                      style="
                        font-family: Tahoma, Geneva, sans-serif;
                        font-size: 14px;
                      "
                      >
                         <a
                              href="https://www.linkedin.com/company/meeraq-hq/"
                              style="
                                border: none;
                                text-decoration: none;
                                font-size: 22px;
                                margin-right: 4px;
                              "
                              target="_blank"
                              ><img
                                src="https://gcbigba.r.bh.d.sendibt3.com/im/6218610/c04c4f7d8818b8ca5d559e3d10595f41882f9243cc4221e22b2b295fd829029e.png?e=FU-lQbgxRt8wCqRZYDSLtvH6ut9LbHOHPXMca1PN0qU9JoCzeNkem7ODu_nTvZ7TADC7TpVpU-ioo_aZqEbLIebvCoJ89qttHcPuxdpgrvMe2zUoL5lIC0fS8vndzRYvSvlOnsbud390ziT65UR-4C72TQH1HEUyqkRkOKmKlGOL-a5q32xMYqtnfuwAzEWBKlpyF5es95giJ37BSVrfP-YdqkiLAEoG_S_Ag05jh1Az6kf_PJ94QFQBnUrn6vEFVExpft8o"
                                alt="Meeraq Logo"
                                class="fr-fic fr-dii"
                                width="32"
                                height="32"
                            /></a>
                         &nbsp;
                        <a
                              href="https://www.instagram.com/meeraq_hq/"
                              style="
                                border: none;
                                text-decoration: none;
                                font-size: 22px;
                                margin-right: 4px;
                                padding-right:4px;
                              "
                              target="_blank"
                              ><img
                                src="https://gcbigba.r.bh.d.sendibt3.com/im/6218610/4d88271b637061e77bd2f267cfcc1b422feb834a8876ede7618c4013bb71ffb6.png?e=b_iXSl90s_TtCk7DlDQDMSP0zo6vEpesMFYc0iTKxQ0s6NlYli2PWGidujAL6GWCBnXR97r7b40L7ChM7FHyxaTjjFLCtQ-MHw0yPvU9EILfRcls9mWK0JuerXlUJs4GWdvell-puEzv6UE8FWxpmUtp4Bnyvd7miT2Da2jL6BnpxpQ7xEzv_uW7xnr_Ip57rD83rkSenbjgaQvZ2JrHJG4u6-v3DRD610vJRQYe_DZxzsmxHJQjRNr7wY3witXhgCrx_scxLA"
                                alt="Meeraq Logo"
                                class="fr-fic fr-dii"
                                width="32"
                                height="32"
                            /></a>
                         &nbsp;
                        <a
                              href="https://www.facebook.com/Meeraq.HQ/"
                              style="
                                border: none;
                                text-decoration: none;
                                font-size: 22px;
                              "
                              target="_blank"
                              ><img
                                src="https://gcbigba.r.bh.d.sendibt3.com/im/6218610/2962440b410e7ab9f4ca2d7b22438f226b7fdaf1dc49143cca108496ff569af9.png?e=DtclMLmBO6nOU0vZruc3_nGmCtaxS4fHg60-7EvAES94A5Fc7ihCuYGiTZchh61KtLmJoi3cI649qL__SvohE2_WJuYByHLUH-K2N-DYonzgRff2DfjAJPeufYBfRy-9_R3vCH9tzKaMA9VNmdqZlfv9-DJ4dSGJXlXAsMN185X_mzg7kTS0O4Lh5iB9DN3kO5WeHGXkyb77OubYPZWzHwKt-gUxONrZsthgkC7HgWeMzKtlAFIUxS_NtRKPow12oQTTcyD4"
                                alt="Meeraq Logo"
                                class="fr-fic fr-dii"
                                width="32"
                                height="32"
                            /></a></span
                    >
                  </td>
                </tr>
                
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
