{% extends "parent_template1.html" %} {% block title %}Meeraq Coaching | Coach
updated profile {% endblock %} {% block heading %}
<div>
  <b>
    <span class="heading-container">
      Dear <span class="heading-container-span">{{name}}</span>,
    </span>
  </b>
</div>
{% endblock %} {% block content %}

<h3 class="child-para">
  <span id="">{{coachName}}</span> has registered as a coach. Please go through
  the profile.
</h3>
<p class="child-para">
  Click <a href="https://caas.meeraq.com/">here</a> to login and view all
  projects.
</p>

{% endblock %}
