{% extends "parent_template.html" %} {% block title %}Meeraq Coaching | Coach updated profile {% endblock %} {% block heading %}
<td
  valign="top"
  style="
    width: 609.75pt;
     
    padding: 48px 16px;
     
    margin-bottom: 20px;
  "
>
  <p
    style="
      font-size: 11pt;
      font-family: Calibri, sans-serif;
      background-color: white;
      margin: 0;
      line-height: 105%;
    "
  >
    <span>
      <b>
       
        <span style="color: #7030a0; font-size: 15pt; line-height: 105%">
          Dear {{name}},
        </span>
      </b>
    </span>
  </p>
  {% endblock %} {% block content %}

  
  <h3><span id="">{{coachName}}</span> has updated his profile.</h3>
  <p>Click <a href="https://caas.meeraq.com/">here</a> to login and view all projects.</p>


</td>
{% endblock %}
