{% extends "parent_template.html" %} {% block title %}Meeraq Coaching | Coachees added cc {% endblock %} {% block heading %}
<div>
  <b>
    <h2>Project: <span id="">{{projectName}}</span></h2>
    <span class="heading-container">
      Dear <span class="heading-container-span">{{name}}</span>,
    </span>
  </b>
</div>
  {% endblock %} {% block content %}

  
  <p class="child-para"><span id="">{{coacheeCount}}</span> coachees have been added to this project. </p>
  <p class="child-para" >Click <a href="https://caas.meeraq.com/">here</a> to login and view all projects.</p>

</td>
{% endblock %}
