{% extends "parent_template.html" %} 
    {% block title %}Meeraq Coaching | HR selected a coach cc {% endblock %} {% block heading %}
    <td
      valign="top"
      style="
        width: 609.75pt;
         
        padding: 48px 16px;
         
        margin-bottom: 20px;
      "
    >
      <p
        style="
          font-size: 11pt;
          font-family: Calibri, sans-serif;
          background-color: white;
          margin: 0;
          line-height: 105%;
        "
      >
        <span>
          <b>
            <h2>Project: <span id="">{{projectname}}</span></h2>
            <span style="color: #7030a0; font-size: 15pt; line-height: 105%">
              Dear {{name}},
            </span>
          </b>
        </span>
      </p>
      {% endblock %} {% block content %}
    
      <h3>HR has selected <span id="">{{coachname}}</span> for this project.</h3>
      <p>Click <a href="https://caas.meeraq.com/">here</a> to login and view other projects.</p>
    </td>
      {% endblock %}
    
        