{% extends "parent_template.html" %} 
{% block title %}Meeraq Coaching | Session Booked {% endblock %} {% block heading %}
<div>
  <b>
    <h2>Project: <span id="">{{projectName}}</span></h2>
    <span class="heading-container">
      Dear <span class="heading-container-span">{{name}}</span>,
    </span>
  </b>
</div>
  {% endblock %} {% block content %}

  <p class="child-para">Your <span id="">{{sessionName}}</span> has been booked for the below slot.</p>
  <p class="child-para"><strong>Date:</strong> <span id="">{{slot_date}}</span></p>
  <p class="child-para"><strong>Slot:</strong> <span id="">{{slot_time}}</span></p>
  {% if email %}
  {% comment %} <p class="child-para"><a href="http://127.0.0.1:8000/api/google/oauth/{{email}}/" style="text-decoration: underline;">Add to Google Calendar</a></p> {% endcomment %}
  <p class="child-para"><a href="http://127.0.0.1:8000/api/microsoft/oauth/{{email}}/" style="text-decoration: underline;">Add to Outlook Calendar</a></p>
{% endif %}
  <p class="child-para">Click <a href="https://caas.meeraq.com/">here</a> to login and view the details.</p>


  {% endblock %}

